
html, body {
	width: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;


}

/** {
  box-sizing: border-box;


}*/

.main {
margin: auto;
}

.row {
	width: 100%;
display: flex;
font-family:Verdana,sans-serif;
flex-direction:row nowrap;
justify-content:center;
/*justify-content:space-around;*/
/*margin-top: 8;
*//*align-items: stretch;*/
align-content: center;	
font-family:Verdana,sans-serif;
   font-size: 1.7em;
    line-height: 70px;
        font-weight: bold;
 }


/* Create three equal columns that floats next to each other */
.column1 {
 /* border-collapse: collapse;
    border-spacing: 0;*/
/*background-color: red;
*/margin-left: 10px; 
/*padding: 5px;
*/flex: 1 1 0px;
flex-grow:1;
white-space: nowrap;
min-width: 230px;
cursor: pointer;
 
}

.column2 {
/*	background-color: blue;

*/	margin-left: 10px; 
/*padding: 5px;
*/	flex: 1 1 0px;
	overflow: hidden;
	flex-grow:3;
  
}
.column3 {
/*	background-color: yellow;
*/	margin-left: 10px; 
/*  padding: 5px;
*/	flex: 1 1 0px;
	flex-grow:1;
      
 /* border-collapse: collapse;
    border-spacing: 0;*/
}

p {
font-size: 0em;
white-space: nowrap;


}

.cropImg { 
	position: absolute;
	/*overflow: hidden;*/
/*	flex:1 0 auto;
*/visibility: visible;
  z-index: -1;
/*  align-self: stretch;
*/ 
  width: 100%;
  height:70px;



}

.abstract{
  display: none;
position: relative;
/*margin-left: 5%;*/
width: 100%;
height: auto;
    font-size: 1em;
    line-height: 1.5;

    
/*background-color: black;*/

}

/*.content {
  margin-top: 2%;
  max-width: 50%;
  max-height: 50%;
}*/

.row:hover .cropImg {
	/*visibility: hidden;*/
}
div[class^='column'] { 
  margin-left: 0;
  padding-left: 10px;
  background: #f0f;

}
.row:not(.opened) div[class^='column'] { 
  margin-left: 0;
  padding-left: 10px;
  background: #f0f; 
  opacity: 0;
  transition: opacity 7s;
  z-index: +1;
}

.row:not(.opened) div[class^='hide'] { 
  opacity: 0;
  transition: opacity 0.5s;
  z-index: +1;
}

.row:not(.opened):hover div[class^='column'] { 
  transition: opacity 1s;
  opacity: 2;
}
.row.opened div[class^='column'] { opacity: 1; }

.row.opened div[class^='hide'] { opacity: 1; transition: opacity 0.5s; }


@-webkit-keyframes ticker {
    0% { -webkit-transform: translate3d(0%, 0, 0); }
    100% { -webkit-transform: translate3d(-100%, 0, 0); }
  }
 
  .ticker-wrap {
    width: 100%;
/*    padding-left: 100%;
*/    /*background-color: #eee;*/
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
/*    padding-right: 100%;
*/    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: ticker;
    -webkit-animation-duration: 40s;
    -webkit-animation-delay: 2s;
    cursor: pointer;
  }
  .ticker-move:hover{
    -webkit-animation-play-state: paused;
  }
  .ticker-item{
    display: inline-block;
    padding: 0 2rem;
  }

/*https://codepen.io/anon/pen/KbJKOz
*/
 /*.rating {
    width: 200px;
    font-size: 1.2em;
    overflow:hidden;
    float: left;
    
      
    }

    .rating a {
      color: #aaa;
      text-decoration: none;
      -webkit-transition: color .4s;
      -moz-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;
    }

    .rating a:hover,
    .rating a:hover ~ a,
    .rating a:focus,
    .rating a:focus ~ a   {
      color: orange;
      cursor: pointer;
    }

    .rating1, .rating2, .rating3, .rating4,
    .rating5, .rating6, .rating7, .rating8,
    .rating9, .rating10, .rating11, .rating12,
    .rating13, .rating14, .rating15, .rating16,
    .rating17, .rating18, .rating19, .rating20,
    .rating21, .rating22, .rating23, .rating24,
    .rating25, .rating26, .rating27, .rating28,
    .rating29, .rating30, .rating31, .rating32,
    .rating33, .rating34, .rating35, .rating36 ,
    .rating37, .rating38, .rating39, .rating40  {
      direction: rtl;
      
    }
    .rating1 a, .rating2 a, .rating3 a, .rating4 a,
    .rating5 a, .rating6 a, .rating7 a, .rating8 a,
    .rating9 a, .rating10 a, .rating11 a, .rating12 a,
    .rating13 a, .rating14 a, .rating15 a, .rating16 a,
    .rating17 a, .rating18 a, .rating19 a, .rating20 a,
    .rating21 a, .rating22 a, .rating23 a, .rating24 a,
    .rating25 a, .rating26 a, .rating27 a, .rating28 a,
    .rating29 a, .rating30 a, .rating31 a, .rating32 a,
    .rating33 a, .rating34 a, .rating35 a, .rating36 a,
    .rating37 a, .rating38 a, .rating39 a, .rating40 a,
    .rating41 a {
      float:none;
    }
*/


@font-face{
  font-family: 'Ogg-Roman';
  src: url('font/Samantha/Ogg-Roman.otf') format('opentype');
}

@font-face{
  font-family: 'Comic Sans MS';
  src: url('font/Rebecca/Comic Sans MS.otf') format('opentype');
}
@font-face{
  font-family: 'Blimey-0.1-900';
  src: url('font/cato/Blimey-0.1-900.otf') format('opentype');
}
@font-face{
  font-family: 'CenturySchoolbookBT-Roman';
  src: url('font/Esther/CenturySchoolbookBT-Roman.otf') format('opentype');
}
@font-face{
  font-family: 'PTSerif';
  src: url('font/Greta/PTSerif.ttc');
}

@font-face{
  font-family: 'girott_regular';
  src: url('font/Peter/girott_regular.otf') format('opentype');
}
@font-face{
  font-family: 'Px Grotesk Light';
  src: url('font/rhode/Px Grotesk Light.ttf') format('truetype');
}
@font-face{
  font-family: 'Courier 10 Pitch Regular';
  src: url('font/Rully/Courier 10 Pitch Regular.otf') format('opentype');
}
@font-face{
  font-family: 'Monospace-821-BT';
  src: url('font/Sophia/Monospace-821-BT.ttf') format('truetype');
}
@font-face{
  font-family: 'DIN1451';
  src: url('font/wannes/DIN1451.ttf') format('truetype');
}
@font-face{
  font-family: 'InknutAntiqua-Light';
  src: url('font/Wietske/InknutAntiqua-Light.ttf') format('truetype');
}
@font-face{
  font-family: 'AT Apoc';
  src: url('font/Chris/AT Apoc.ttf') format('truetype');
}

@font-face{
  font-family: 'VG5000-Regular_web(1)';
  src: url('font/Dominika/VG5000-Regular_web(1).otf') format('opentype');
}

@font-face{
  font-family: 'Satyr-Regular';
  src: url('font/Kate/Satyr-Regular.otf') format('opentype');
}

@font-face{
  font-family: 'GrotesqueMTStd-Bold';
  src: url('font/Linsey/GrotesqueMTStd-Bold.otf') format('opentype');
}

@font-face{
  font-family: 'Oroban-Masuria.otf';
  src: url('font/Mariam/Oroban-Masuria.otf') format('opentype');
}

@font-face{
  font-family: 'Bradley Hand Bold';
  src: url('font/Theresa/Bradley Hand Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'ElBodoni-Regular';
  src: url('font/manon/ElBodoni-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'FanwoodText-Regular';
  src: url('font/kerrin/FanwoodText-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'LibreBaskerville-Regular';
  src: url('font/Kylien/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Rando-glitch-Regular';
  src: url('font/Kin/Rando-glitch-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'ActaDeck-Book';
  src: url('font/Pien/ActaDeck-Book.otf') format('opentype');
}

@font-face{
  font-family: 'LydianCursiveBT-Regular';
  src: url('font/Carolina/LydianCursiveBT-Regular.otf') format('opentype');
}

@font-face{
  font-family: 'AntiqueOliveStd-Bold';
  src: url('font/Nina/AntiqueOliveStd-Bold.otf') format('opentype');
}

@font-face{
  font-family: 'PalatinoLTStd-Roman';
  src: url('font/Artur/PalatinoLTStd-Roman.otf') format('opentype');
}

@font-face{
  font-family: 'Aleo-Regular';
  src: url('font/Roderick/Aleo-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'neue';
  src: url('font/Leith/neue.woff2') format('woff2');
}
@font-face{
  font-family: 'BigCaslon';
  src: url('font/Evy/BigCaslon.ttf') format('truetype');
}

@font-face{
  font-family: 'IBMPlexMono-Medium';
  src: url('font/Louis/IBMPlexMono-Medium.otf') format('opentype');
}

@font-face{
  font-family: 'GeForce-Bold';
  src: url('font/armands/GeForce-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Granby Elephant BQ Regular';
  src: url('font/Bohwa/Granby Elephant BQ Regular.otf') format('opentype');
}

@font-face{
  font-family: 'TrumpMediaevalLTStd-Roman';
  src: url('font/Yeon/TrumpMediaevalLTStd-Roman.woff2') format('woff2');
}

@font-face{
  font-family: 'GintoNord-Regular';
  src: url('font/Jan/ginto/GintoNord-Regular.otf') format('opentype');
}

@font-face{
  font-family: 's';
  src: url('font/Risto/s.otf') format('opentype');
}

@font-face{
  font-family: 'FreeSerif';
  src: url('font/Jonathan/FreeSerif.otf') format('opentype');
}
@font-face{
  font-family: 'VG5000-Regular.otf';
  src: url('font/Rossi/VG5000-Regular.otf') format('opentype');
}



/*.font1{
	font-family: 'Comic Sans MS';
  font-size: 24.2pt;
  line-height: 0;
}

.font2{
  font-family: 'neue';
  font-size: 25pt;
  line-height: 0.5;
}

.font3{
  font-family: 'Ogg-Roman';
  font-size: 18.5pt;
}

.font4{
  font-family: 'LydianCursiveBT-Regular';
  font-size: 25pt;
  line-height: 0.5;
}
.font5{
  font-family: 'Baskerville';
  font-size: 25pt;
  line-height: 0.5;
}
.font6{
  font-family: 'Monospace-821-BT';
  font-size: 25pt;
  line-height: 0.5;
}
.font7{
  font-family: 'GintoNord-Regular';
  font-size: 25pt;
  line-height: 0.5;
}
.font8{
  font-family: 'Blimey-0.1-900';
  font-size: 25pt;
  line-height: 0.5;
}
.font9{
  font-family: 'ElBodoni-Regular';
  font-size: 25pt;
  line-height: 0.5;
}
.font10{
  font-family: 'Rando-glitch-Regular';
  font-size: 25pt;
  line-height: 0.5;
}

.font11{
  font-family: 'girott_regular';
  font-size: 25pt;
  line-height: 0.5;
}

.font12{
  font-family: 'Oroban-Masuria';
  font-size: 25pt;
  line-height: 0.5;
}

.font13{
  font-family: 'DIN1451';
  font-size: 25pt;
  line-height: 0.5;
}

.font14{
  font-family: 'GeForce-Bold';
  font-size: 25pt;
  line-height: 0.5;

}
.font15{
  font-family: 'FreeSerif';
  font-size: 25pt;
  line-height: 0.5;
}
.font16{
  font-family: 'AT Apoc';
  font-size: 25pt;
  line-height: 0.5;
}
.font17{
  font-family: serif;
  font-size: 25pt;
  line-height: 0.5;
}
.font18{
  font-family: 'ActaDeck-Book';
  font-size: 25pt;
  line-height: 0.5;
}
.font19{
  font-family: 'Garamond';
  font-size: 25pt;
  line-height: 0.5;
}
.font20{
  font-family: 'Px Grotesk Light';
  font-size: 25pt;
  line-height: 0.5;
}
.font21{
  font-family: 'Arial';
  font-size: 25pt;
  line-height: 0.5;
}

.font22{
  font-family: 'TrumpMediaevalLTStd-Roman';
  font-size: 25pt;
  line-height: 0.5;
}

.font23{
  font-family: 's';
  font-size: 25pt;
  line-height: 0.5;
}

.font24{
  font-family: 'AntiqueOliveStd-Bold';
  font-size: 24.2pt;
  line-height: 0.5;
}
.font25{
  font-family: 'IBMPlexMono-Medium';
  font-size: 19pt;
  line-height: 0.5;
}
.font26{
  font-family: 'Aleo-Regular';
  font-size: 24.2pt;
  line-height: 0.5;
}
.font27{
  font-family: 'FanwoodText-Regular';
 font-size: 25pt;
  line-height: 0.5;
}
.font28{
  font-family: 'GrotesqueMTStd-Bold';
  font-size: 25pt;
  line-height: 0.5;
}
.font29{
  font-family: 'CenturySchoolbookBT-Roman';
  font-size: 25pt;
  line-height: 0.5;
}
.font30{
  font-family: 'Bradley Hand Bold';
  font-size: 25pt;
  line-height: 0.5;
}
.font31{
  font-family: 'VG5000-Regular';
  font-size: 25pt;
  line-height: 0.5;
}
.font32{
  font-family: 'Microsoft Sans Serif';
  font-size: 24.2pt;
  line-height: 0.5;
}
.font33{
  font-family: 'InknutAntiqua-Light';
  font-size: 25pt;
  line-height: 0.5;
}
.font34{
  font-family: 'Granby Elephant BQ Regular';
  font-size: 25pt;
  line-height: 0.5;
}
.font35{
  font-family: 'VG5000-Regular_web(1).otf';
  font-size: 25pt;
  line-height: 0.5;
}
.font36{
  font-family: 'Courier 10 Pitch Regular';
  font-size: 25pt;
  line-height: 0.5;
}
.font37{
  font-family: 'PTSerif';
  font-size: 25pt;
  line-height: 0.5;
}
.font38{
  font-family: 'Satyr-Regular';
  font-size: 25.5pt;
  line-height: 0.5;
}
.font39{
  font-family: 'LibreBaskerville-Regular';
  font-size: 23pt;
  line-height: 0.5;
}
.font40{
  font-family: 'BigCaslon';
  font-size: 25pt;
  line-height: 0.5;
}

.font41{
  font-family: alfarn, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25pt;
  line-height: 0.5;
}

.font42{
  font-family: 'PalatinoLTStd-Roman';
  font-size: 25pt;
  line-height: 0.5;
}*/

#scaleabs {
  font-size: 1.75vw;
  line-height: 1.25;
}

#show {
  position: absolute;
  margin-top: 0;
  width: 200px;
  height: auto;
  /*z-index: 999999999999999;*/
}

.popup { 
  position: fixed;
  top: 50%; left: 50%;

  width: 600px; height: 900px;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);

  /*background-color: blue;*/

  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);

  display: none;
  z-index: 999999999999999;
}
.popup img {
  width: 100%;
}


::selection {
  color:#FFEFD5; background: transparent; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color:#FFEFD5; background: transparent; /* Gecko Browsers */
}


.lol {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
   /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}
.lol img{
width: auto;
height: 120px;

}



